.container {
	width: 100%;
	padding: 2rem 0;

  @media screen and (max-width: 767px) {
    padding: 1rem 0;
  }

	.sectionContainer {
		display: flex;
		justify-content: center;
		width: 100%;

		.zigzagContainer {
			display: flex;
			gap: 38px;

			&:nth-child(1) .zigzagItem span:hover {
				outline-offset: -5px;
				outline-color: $paleRedColor;

        @media screen and (max-width: 390px) {
          outline-offset: -2px;
        }

				& > b {
					color: $yellowColor;
				}
			}

			&:nth-child(2) {
				position: absolute;
				transform: rotate(180deg);
				z-index: -1;
			}

			@media screen and (max-width: 767px) {
        gap: 19px;
			}

			@media screen and (max-width: 390px) {
        gap: 16px;
			}

			.zigzagItem {
				display: block;
				height: 100px;
				width: 100px;
				position: relative;
				overflow: hidden;
				transform: rotate(315deg);

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 2px;
					background: linear-gradient(90deg, $redColor, $yellowColor);
					transform: translateX(-100%);
					animation: animateBefore 5s linear infinite;
					animation-delay: calc(1s * var(--i));

          @media screen and (max-width: 767px) {
            height: 1px;
          }
				}

				&::after {
					content: '';
					position: absolute;
					right: 0;
					width: 2px;
					height: 100%;
					background: linear-gradient(180deg, $redColor, $yellowColor);
					transform: translateY(-100%);
					animation: animateAfter 5s linear infinite;
					animation-delay: calc(1s * var(--i));

          @media screen and (max-width: 767px) {
            width: 1px;
          }
				}

        @media screen and (max-width: 767px) {
          height: 50px;
          width: 50px;
        }

        @media screen and (max-width: 390px) {
          height: 42px;
          width: 42px;
        }

				span {
					position: absolute;
					cursor: default;
					inset: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: $hrColor;
					outline: 1px solid $pinkColor;
					transition: 0.3s linear;

          @media screen and (max-width: 767px) {
            inset: 5px;
          }

					b {
						font-size: 2em;
						transform: rotate(45deg);
						color: $redColor;
						transition: 0.3s linear;

            @media screen and (max-width: 767px) {
              font-size: 1em;
            }
					}
				}
			}
		}
	}
}

@keyframes animateBefore {
	0%,
	20% {
		transform: translateX(-100%);
	}
	40%,
	100% {
		transform: translateX(100%);
	}
}

@keyframes animateAfter {
	0%,
	30% {
		transform: translateY(-100%);
	}
	50%,
	100% {
		transform: translateY(100%);
	}
}
