$bgColor: #212428;
$paleBgColor: #23272b;
$hrColor: #1f1d1d;
$yellowColor: #fec63c;
$redColor: #ff014f;
$paleRedColor: #e34d73;
$pinkColor: #faa4b1;

$boxshadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;